@tailwind base;
@tailwind components;

button:focus {
  outline: none;
}

.floating-input input:focus-within ~ label,
.floating-input input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 left-3 -translate-y-8 z-0 px-1.5;
}

input:focus-within ~ label {
  @apply text-dark-text-primary-color !important;
}

@tailwind utilities;

@layer utilities {
  .vertical-writing {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .text-bg {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
