@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-writing {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .text-bg {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}